@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans {
    font-family: "Fira Sans", serif;
}

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 200px;
    background-color: #F1F1F3;
}

main {
    padding: 80px 200px;
    background-color: #F1F1F3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}

.navbar .logo {
    font-size: 32px;
    font-weight: 700;
    color: #0e0e0e;
}

.navbar .btn {
    border: 1px solid #006a50;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    color: #006a50;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.navbar .btn:hover {
    background-color: #006a50;
    color: white;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 80px 100px 80px 100px;
    background: #c6e4d6;
}

.left .banner-subtitle {
    color: #0e0e0e80;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 16px 0px;
}

.left .banner-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}

.left .btn {
    border: none;
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    background: #006a50;
    margin: 24px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.left .btn:hover {
    background: #01503c;
}

.pillars-container {
    padding: 80px 0;
}

.pillars-container .title {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    margin: 32px 0px;
}

.pillars {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.pillars .pillar {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
    margin: 24px 0;
    background: rgb(255, 255, 255);
}

.pillar-title {
    color: #0e0e0ecc;
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0px;
}

.pillar-description {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0px;
}

.vision-title {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    margin: 24px 0;
}

.vision-des {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0;
    line-height: 24px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.cards .card1 {
    background: #5490f533;
    padding: 32px;
    border-radius: 16px;
    margin: 24px 0;
}

.cards .card2 {
    background: #C6E4D6;
    padding: 32px;
    border-radius: 16px;
    margin: 24px 0;
}

.cards .card3 {
    background: #F7EBCF;
    padding: 32px;
    border-radius: 16px;
    margin: 24px 0;
}

.cards h2 {
    color: #0e0e0ecc;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 12px 0px;
}

.cards p {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0px;
}

.cards .btn {
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 8px;
    margin: 24px 0px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.card1 .btn {
    background: #5490f5;
}

.card1 .btn:hover {
    background: #3779ec;
}

.card2 .btn {
    background: #09a15c;
}
.card2 .btn:hover {
    background: #0d8f54;
}

.card3 .btn {
    background: #ffc239;
}
.card3 .btn:hover {
    background: #f5b623;
}

.cards img {
    margin: 13px 0;
}

.adviser-container {
    border-radius: 16px;
    padding: 48px 24px 48px 24px;
    border: 1px solid #0e0e0e26;
    background-color: #ffffff;
    margin-top: 24px;
}

.adviser {
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.description {
    padding-top: 25px;
    color: #0e0e0ecc;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0px;
}

.adviser-name {
    margin: 4px 0px;
    color: #0e0e0ecc;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.adviser-title {
    color: #0e0e0e99;
    margin: 4px 0px;
    font-size: 16px;
    font-weight: 400;
}

.opinion-container .title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 100px 0 24px;
}

.questions-and-opinion-title {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    padding: 24px;
}

.questions-and-opinion-title h4 {
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 600;
}

.questions-and-opinion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions-and-opinion p {
    color: #0e0e0e;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: 1px solid #0e0e0e26;
    background: rgba(255, 255, 255, 0.1);
    padding: 24px;
    width: 1197px;
    border-top: none;
}

.questions-and-opinion button {
    display: flex;
    align-items: center;
    gap: 24px;
    border: 1px solid #0e0e0e;
    border-radius: 4px;
    background: #09a15c26;
    padding: 10px 14px 10px 14px;
}

.questions-and-opinion div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0e0e0e26;
    border-top: none;
    border-left: none;
    padding: 15px;
    width: 242px;
}

.opinion-content {
    background: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 16px;
}

.news-container {
    margin-top: 80px;
}

.news-card {
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 48px;
    background: #ffffff;
    gap: 32px;
    margin-top: 32px;
}

.news-card-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 24px;
    padding: 48px;
    background: #ffffff;
    gap: 32px;
    margin-top: 32px;
}

.news-card .img {
    border-radius: 24px;
}

.news-card-reverse .img {
    border-radius: 24px;
}

.news-container h1 {
    color: #0e0e0e;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 24px 0px;
}

.news-container p {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0;
}

.news-card-title {
    color: #0e0e0ecc;
    font-size: 32px;
    font-weight: 700;
    margin: 8px 0px;
}

.news-card-box .btn {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 26px 13px 26px;
    margin: 15px 0px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.news-card-box .btn:hover {
    background: rgb(3, 78, 59);
}

.donate {
    margin-top: 80px;
}

.donate h1 {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin: 24px 0px;
}

.donate p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 24px;
}

.donation-options {
    display: flex;
    justify-content: space-evenly;
    margin: 32px 0;
}

.donation-options div {
    box-sizing: border-box;
    border: 1px solid #0e0e0e26;
    border-radius: 16px;
    padding: 40px;
    cursor: pointer;
}

.background{
    background-color: #c6e4d6 ;
}

.donation-options div:hover {
    background: #aee2ca;
}


.donation-options h2 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.donations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-donation {
    width: 80%;
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #e6e5e5e1;
    border-radius: 0;
    margin-bottom: 20px;
    outline: none;
    transition: border 0.3s ease;
    text-align: center;
}

.custom-donation:focus {
    border-color: #76c893;
}

.donate input.placeholder {
    text-align: center;
}

.donate .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.donate button {
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    padding: 17px 34px 17px 34px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.donate button:hover {
    background: rgb(2, 88, 67);
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.email-input {
    border-radius: 8px 0px 0px 8px;
    width: 600px;
    padding: 18px 40px 18px 40px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    transition: border 0.3s ease;
}

.email-input:focus {
    border-color: #76c893;
}

.subscribe-button {
    border-radius: 0px 8px 8px 0px;
    padding: 17px 34px 17px 34px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: none;
}

.subscribe-button:hover {
    background: rgb(2, 88, 67);
}

.newsletter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-top: 80px;
    padding: 80px 100px 80px 100px;
}

.newsletter-section h1 {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 16px 0px;
}

.newsletter-des {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 16px 0px;
}

.newsletter-note {
    color: #0e0e0eb3;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

footer {
    margin: 50px 160px;
}

footer h1 {
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    margin: 16px 0px;
    padding: 32px 0px;
    border-bottom: 1px solid #0e0e0e1a;
}

.contact {
    display: flex;
    gap: 23px;
    margin: 32px 0px;
    justify-content: center;
}